
@{
    ViewBag.Title = "Akcii";
}


<section class="CoffeemachinesOutside">
    <div class="std">
        <div id="cms-page">
            <div class="cms-inside">
                <table style="height: 137px; width: 970px;" border="0">
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <p><a title="Больше заказ - больше выгода" href="@Url.Action("Napitki", "Home")"><img src="~/Images/Akcii/Action1.jpg" /> </a></p>
                                <p><a title="Новинка в XL чашке! Встречайте Прелюдио и Прелюдио Интенсо!" href="@Url.Action("Napitki", "Home")"><img title="Новинка в XL чашке! Встречайте Прелюдио и Прелюдио Интенсо!" src="~/Images/Akcii/Action2.jpg" /> </a></p>
                                <p><a title="Oblo за 3990 рублей!" href="@Url.Action("Coffeemachines", "Home")"><img title="Кофемашина месяца - Oblo за 3990 рублей!" src="~/Images/Akcii/Action3.jpg" /> </a></p>
                                <p><a title="Genio 2 за 6990 рублей!" href="@Url.Action("Coffeemachines", "Home")"><img title="Кофемашина месяца - Genio 2  за 6990 рублей!" src="~/Images/Akcii/Action4.jpg" /> </a></p>


                            </td>
                        </tr>
                        <tr>
                            <td><a href="@Url.Action("Napitki", "Home")"><img src="~/Images/Akcii/Action11.png"></a></td>
                            <td><a href="@Url.Action("Napitki", "Home")"><img src="~/Images/Akcii/Action12.png" alt="" width="479" height="211"></a></td>
                        </tr>
                    </tbody>
                </table>
                <h1><span style="font-size: small;"><strong>Наши акции, выгодные предложения и новинки – это подарок истинным ценителям кофе!</strong></span></h1>
                <p>Воспользовавшись акционными предложениями, вы сможете не только порадовать себя любимыми вкусами бодрящего напитка, но и получите прекрасную возможность сэкономить средства. Выгодные цены и большое разнообразие кофемашин и капсул к ним подарят вам возможность ежедневно создавать настоящие произведения кофейного искусства. Не ограничивайте себя в творчестве!<br>Следите за обновлениями: список акционных предложений постоянно меняется. Чтобы всегда быть в курсе событий, подпишитесь на рассылку NESCAFÉ® Dolce Gusto®.</p>
                <table border="0">
                    <tbody>
                        <tr>
                            <td><img src="~/Images/Akcii/ActionSmall.png"></td>
                            <td>
                                <p>Хотите получать еще больше информации об акциях, скидках и новинках?<br>Вам надо просто подписаться на нашу рассылку!</p>
                                <p>
                                    <a href="@Url.Action("Napitki", "Home")" class="dg-button superclass brand_violet brand-button-type-button" style="width: 124px21px" title="ПОДПИСАТЬСЯ НА РАССЫЛКУ">ПОДПИСАТЬСЯ НА РАССЫЛКУ</a>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p><strong><a href="/i-love-presents">ПОДРОБНАЯ ИНСТРУКЦИЯ ПО АКТИВАЦИИ КОДА НА ПОДАРОЧНУЮ КОРОБОЧКУ КАПСУЛ</a></strong></p>
                <p><a title="Полные правила акции &quot;700 рублей в подарок&quot;" href="@Url.Action("Napitki", "Home")" target="_blank">Полные правила Акции "700 рублей в подарок"</a><br><a title="Правила Акции &quot;100 рублей в подарок&quot;" href="@Url.Action("Napitki", "Home")">Полные правила Акции "100 рублей в подарок</a>"<a title="Полные правила акции &quot;Дарим 4000 рублей на покупку кофемашины&quot;" href="@Url.Action("Napitki", "Home")" target="_blank"><br></a><a title="Полные правила акции &quot;Выбери звучание своего дня!&quot;" href="h@Url.Action(" Napitki", "Home" )" target="_blank">Полные правила Стимулирующего мероприятия "Выбери звучание своего дня!"</a><a title="Полные правила конкурса в социальных сетях &quot;Выбери звучание своего дня&quot;" href="@Url.Action("Napitki", "Home")" target="_blank"><br></a><a title="Полные правила акции &quot;Больше заказ - больше выгода&quot;" href="@Url.Action("Napitki", "Home")" target="_blank">Полные правила Акции "Больше заказ - больше выгода"<br></a><a title="Полные правила акции &quot;Самый длинный день в году&quot;" href="@Url.Action("Napitki", "Home")" target="_blank">Полные правила Акции "Самый длинный день в году"<br></a><a title="Правила Акции &quot;Piccolo за 1990 рублей&quot;" href="@Url.Action("Napitki", "Home")" target="_blank">Полные правила Акции "Кофемашина Piccolo за 1990 рублей"<br></a><a title="Полные правила Акции &quot;Раскрой новые грани Гранде&quot;" href="@Url.Action("Napitki", "Home")" target="_blank">Полные правила Акции "Раскрой новые грани Гранде"<br></a><a title="Полные правила акции &quot;Колесо фортуны&quot;" href="@Url.Action("Napitki", "Home")" target="_blank">Полные правила Акции "Колесо фортуны"<br></a><a title="Полные правила акции &quot;Раскрой новые грани Холодного Капучино&quot;" href="@Url.Action("Napitki", "Home")" target="_blank">Полные правила Акции "Раскрой новые грани Холодного Капучино"<br></a><a title="Полные правила акции &quot;Каждая пятая коробочка капсул в подарок&quot;" href="@Url.Action("Napitki", "Home")" target="_blank">Полные правила Акции "Каждая пятая коробочка капсул в подарок"</a><a title="Полные правила конкурса в социальных сетях &quot;Выбери звучание своего дня&quot;" href="@Url.Action("Napitki", "Home")" target="_blank"><br></a></p>
            </div>
        </div>

        <script type="text/javascript">
    var cms_bgs = [
    ];

    // call background rotate if multiple backgrounds are set
    if (cms_bgs.length > 1) cmsBackground.init(0);
        </script>
    </div>
</section>